.body{
    margin: 0;
}

.header{
    position: fixed;
    width: 100%;
    height: 60px;
    background: #0F0F0F;
}

.header__logo{
    position: relative;
    left: 18px;
    top: 16px;

    font-family: Roboto;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.content-box{
    position: absolute;
    display: flex;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
}

.products-box{
    width: 300px;
    border-right: 1px solid #E0E0E0;
}

.create-product{
    display: flex;
    justify-content: space-around;
    height: 55px;
}

.create-product__btn{
    width: 255px;
    height: 35px;
    margin: auto;
    background-color: #0F0F0F;
    border-radius: 4px;
    border: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
}

.product-list{
    display: flex;
}

.products-list-item{
    height: 70px;
    border-top: 1px solid #E0E0E0;
}

.products-list-item_active{
    background-color: #F7F7F7;
    border-right: 3px solid #2588E3;
}

.products-list-item__name{
    margin: 16px 0 5px 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.products-list-item__date{
    margin: 0 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;

    color: #949494;
}

.product-description{
    display: grid;
    grid-template-columns: 25px 1fr 25px 1fr 25px;
    grid-template-rows: 80px 20px repeat(5, 80px);
    width: calc(100% - 300px);
}

.product-description__header{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.product-description__hr{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    border-top: 1px solid #E0E0E0;
}

.product-description__input {
    display: flex;
    flex-direction: column;
}

.product-description__input_label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}
.product-description__input_field {
    height: 36px;
    padding: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #959595;

    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
}

.product-description__input_field:focus-visible{
    outline: none;
    border:  2px solid #2588E3;
}

.product-description__input_name{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.product-description__input_min-amount{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.product-description__input_max-amount{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.product-description__input_min-term{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.product-description__input_max-term{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.product-description__input_rate{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.product-description__btn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;

    width: 130px;
    height: 36px;

    background: #2588E3;
    border: none;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;

    color: #FFFFFF;
}
