@mixin mainFont{
  font-family: Roboto, sans-serif;
  font-style: normal;
}

@mixin scrollDecoration{
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}

$mainBordersColor: #E0E0E0;

$mainBackgroundColor: #FFFFFF;
$secondBackgroundColor: #0F0F0F;
$additionalBackgroundColor: #F7F7F7;

$mainFontColor: #0F0F0F;
$secondFontColor: #FFFFFF;
$additionalFontColor: #777777;

$additionalColor: #2588E3;

*{
  transition: all 0.5s ease-out;
}

.body{
  margin: 0;
  @include mainFont;
  background-color: $mainBackgroundColor;
}

.header{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: $secondBackgroundColor;
}

.header__logo{
  position: relative;
  left: 18px;
  top: 16px;

  font-size: 24px;
  line-height: 28px;
  color: $secondFontColor;
}

.content-box{
  position: absolute;
  display: flex;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
}

.products-box{
  width: 300px;
  border-right: 1px solid $mainBordersColor;
}

.products-box__scroll{
  height: calc(100% - 60px);
  overflow-y: auto;
}

@include scrollDecoration;

.create-product{
  display: flex;
  justify-content: space-around;
  height: 55px;
}

.create-product__btn{
  width: 255px;
  height: 35px;
  margin: auto;
  background-color: $secondBackgroundColor;
  border-radius: 4px;
  border: none;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: $secondFontColor;
}

.product-list{
  display: flex;
}

.products-list-item{
  height: 70px;
  border-top: 1px solid $mainBordersColor;
}

.products-list-item_active{
  background-color: $additionalBackgroundColor;
  border-right: 3px solid $additionalColor;
}

.products-list-item__name{
  margin: 16px 0 5px 20px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $mainFontColor;
  pointer-events: none;
}

.products-list-item__date{
  margin: 0 20px;

  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: $additionalFontColor;
  pointer-events: none;
}

.product-description__header{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: $mainFontColor;
}

.product-description__hr{
  border-top: 1px solid $mainBordersColor;
}

.product-description__input {
  display: flex;
  flex-direction: column;
}

.product-description__input_label {;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $mainFontColor;
}
.product-description__input_field {
  height: 36px;
  padding: 10px;

  background-color: $mainBackgroundColor;
  border: 1px solid $mainBordersColor;
  box-sizing: border-box;
  border-radius: 4px;

  @include mainFont;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $additionalFontColor;
}

.product-description__input_field:focus-visible{
  outline: none;
  border:  2px solid $additionalColor;
}

.product-description__btn{
  width: 130px;
  height: 36px;

  background-color: $additionalColor;
  border: none;
  border-radius: 4px;

  @include mainFont;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: $secondFontColor;
}

.header__switch-dark-mode{
  width: 22px;
  height: 22px;

  position: absolute;
  right: 18px;
  top: 17px;

  background-color: $secondBackgroundColor;
  border: none;
  border-radius: 4px;
  color: $secondFontColor;
}

.header__switch-dark-mode::before {
  font-family: fontAwesome;
  content: "\f186\00a0";
}

.header__switch-dark-mode:hover {
  background-color: $additionalColor;
  color: $secondFontColor;
  outline: none;
}

